
*.ipch
*.db
*.opendb
Game/.vs/Game/v15/.suo
Game/Debug/Game.exe
Game/Debug/Game.ilk
Game/Debug/Game.pdb
Game/Game/Debug/Animator.obj
Game/Game/Debug/Enemy.obj
Game/Game/Debug/EnemyFactory.obj
Game/Game/Debug/EnemyManager.obj
Game/Game/Debug/Entity.obj
Game/Game/Debug/Game.log
Game/Game/Debug/Game.obj
Game/Game/Debug/Game.pch
Game/Game/Debug/Game.tlog/CL.command.1.tlog
Game/Game/Debug/Game.tlog/CL.read.1.tlog
Game/Game/Debug/Game.tlog/CL.write.1.tlog
Game/Game/Debug/Game.tlog/Game.lastbuildstate
Game/Game/Debug/Game.tlog/link.command.1.tlog
Game/Game/Debug/Game.tlog/link.read.1.tlog
Game/Game/Debug/Game.tlog/link.write.1.tlog
Game/Game/Debug/GameInfo.obj
Game/Game/Debug/NCFReader.obj
Game/Game/Debug/Player.obj
Game/Game/Debug/Postmaster.obj
Game/Game/Debug/stdafx.obj
Game/Game/Debug/Subscriber.obj
Game/Game/Debug/vc141.idb
Game/Game/Debug/vc141.pdb